@font-face {
    font-family: "Josefin Sans";
    src: url("../../assets/JosefinSans-Regular.ttf");
  }

.cards{
    display:flex;
    flex-direction:row;
}

.searchbarContainer{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:20px;
    background-color:rgba(221, 221, 221, 0.651);
    width:25rem;
    position:relative;
    left:calc(50% - 12rem);
}

.searchbarContainer button {
    margin: 5px;
    border: none;
    background-color: transparent;
}

.searchbarContainer img{
    cursor: pointer;
}

.searchbar{
    border:none;
    outline:none;
    padding-left:15px;
    height:2.5rem;
    font-size: medium;
    background-color:transparent;
}

.searchbar::placeholder{
    color:rgb(255, 255, 255);
}


body{

    background-image : url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=876&q=80");
    font-family: "Josefin Sans";
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media screen and (max-width: 768px) {
        .cards{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:center;
            margin-top:10px;
            margin-bottom:10px;
        }

        .searchbarContainer{
            width:18rem;
            position:relative;
            left:calc(50% - 9rem);
        }
}