.sidecards{
    width: 25vw;
    height: 100%;
    background-color:rgba(255, 255, 255, 0.25);
    border-radius:10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    flex-direction: column;

    align-items: center;
    margin:10px;
}

.cardsVerticales{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.cardsVerticales h1{
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}
.cardsVerticales h2{
    margin-bottom: -1rem;
}
.cardsVerticales img{
    margin-bottom: -1rem;
}
.hrsidecard{
    width: 85%;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

.deleteIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}
.botonContainer{
    width:100%;
    display: flex;
    justify-content: flex-end;
}
.botonContainer button {
    z-index: 100;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.486);
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    margin-right: 0.2rem;
    margin-top:0.1rem;
    cursor: pointer;

}

.botonContainer path {
    z-index: -1;
}

@media screen and (max-width:768px){

    .sidecards{
        display: flex;
        flex-direction:row;
        width: 85vw;
        height: 100%;
        overflow: scroll;
    }

    .cardsVerticales h1{
        font-size: 1.5rem;
        margin-top: 1rem;
        height: 3rem;
        width: 15rem
    }
    .cardsVerticales{
        width: 25rem;
    }
    .cardsVerticales h2{
        margin: 0;
    }


}